@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter", sans-serif;
    font-style: normal;
    src: url("./public/assets/fonts/inter-Regular") format("ttf");
}
@font-face {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    src: url("./public/assets/fonts/inter-SemiBold") format("ttf");
}
@font-face {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    src: url("./public/assets/fonts/inter-ExtraBold") format("ttf");
}
@font-face {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    src: url("./public/assets/fonts/inter-Black") format("ttf");
}

.bg-grid {
    background-size: 100px 100px;
    background-image: linear-gradient(
            to right,
            rgb(35, 35, 35) 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, rgb(35, 35, 35) 1px, transparent 1px);
    background-attachment: fixed;
}

@keyframes typing {
    0% {
        width: 0%;
        visibility: hidden;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }

    100% {
        border-color: white;
    }
}
.animate-typing {
    animation: typing 2s steps(30) infinite alternate, blink 0.7s infinite;
}

.animate-bing {
    animation: bounce 1s linear infinite;
    animation-direction: alternate;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
        animation-timing-function: linear;
    }

    100% {
        transform: translateY(20px);
        animation-timing-function: linear;
    }
}

.gradient-border-dark {
    background: linear-gradient(
        1turn,
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0.1),
        #fff,
        hsla(0, 0%, 100%, 0.3)
    );
    background: linear-gradient(
        var(--gradient-angle),
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0.1),
        #fff,
        hsla(0, 0%, 100%, 0.3)
    );
}
